.BubbleChat {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  color: #848484;
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  .Chat {
    width: auto;
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0px;
  }

  &.color-default {
    .Name {
      color: #7bc1f3;
    }

    .Chat {
      background: #f6fbff;
      border: 1px solid #7bc1f3;
      margin-right: auto;
    }
  }

  &.color-blue {
    .Name {
      color: #7bc1f3;
    }

    .Chat {
      background: #f6fbff;
      border: 1px solid #7bc1f3;
      margin-right: auto;
    }
  }

  &.color-green {
    .Name {
      color: #88ba97;
      text-align: right;
    }

    .Chat {
      background: #f5fbf7;
      border: 1px solid #88ba97;
      margin-left: auto;
    }

    .Date {
      text-align: right;
    }
  }
}
