.title {
    font-size: 24px;
    font-weight: 200;
    color: #838383;
    width: 100%;
    margin-bottom: 10px;
}
.MyPage {
    width: 100%;
    //height: 100%;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    .Evaluation{
        margin-bottom: 20px;
        .EvalTop{
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            .title{
                font-size: 16px;
			    color: #838383;
                flex: 1;
            }
            .more{
                cursor: pointer;
                background: none;
		        border: none;
		        color: #00B992;
                font-size: 14px;
	            font-weight: 500;
                text-align: center;

            }
        }
        .Middle{
            .list{
                display: flex;
                flex-direction: row;
                .starIcon{
                    width: 30px;
					height: 30px;
					margin-right: 15px;
                    margin-bottom: 15px;
                }
                .rate{
                    display: flex;
                    flex-direction: column;
                    p{
                        color: #838383;
                    }
                }
            }
        }
    }
    .Sale{
        margin-bottom: 20px;
        .Top{
            display: flex;
            flex-direction: row;
            .title{
                font-size: 16px;
			    color: #838383;
            }
            .more{
                cursor: pointer;
                background: none;
		        border: none;
		        color: #00B992;
                font-size: 14px;
	            font-weight: 500;
                text-align: center;
            }
        }
        .Middle{
            display: flex;
            flex-direction: row;
            .image{
                width: 33%;
                height: 100%;
                padding: 10px;
                cursor: pointer;
                float: left;
            }
        }
    }
    .Purchase{
        .Top{
            display: flex;
            flex-direction: row;
            .title{
                font-size: 16px;
			    color: #838383;
            }
            .more{
                cursor: pointer;
                background: none;
		        border: none;
		        color: #00B992;
                font-size: 14px;
	            font-weight: 500;
                text-align: center;
            }
        }
        .Middle{
            display: flex;
            flex-direction: row;
            .image{
                width: 33%;
                height: 100%;
                padding: 10px;
                cursor: pointer;
                float: left;
            }
        }
    }
}