.Wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;

  .Top {
    width: 100%;
    height: 15%;
    flex-direction: row;

    .Title {
      line-height: 35px;
      font-size: 20px;
      text-align: center;
      width: 90%;
      float: left;
    }

    .ImgWrapper {
      width: 18px;
      height: 35px;
      float: left;
      .closeIcon {
        resize: none;
        width: 100%;
        height: 100%;
      }
    }
  }

  .ContentsWrapper {
    height: 70%;

    .Contents {
      font-size: 15px;
    }

    .NumWrapper {
      flex-direction: row;
    }

    .NumInnerWrapper {
      float: left;
    }

    .Num {
      font-size: 15px;
      height: 45px;
      margin-left: 10px;
      padding-top: 8px;
    }
  }

  .Bottom {
    height: 15%;
    .uploadBtn {
      cursor: pointer;
    }
  }
}
